<% layout('base') %>
<h1>Update Book</h1>
<form method="POST" action="/books/<%= book.id %>?_method=PATCH">
  <input
    type="text"
    name="book[title]"
    placeholder="Title"
    value="<%= book.title %>"
  />
  <input
    type="text"
    name="book[imageURL]"
    placeholder="Image"
    value="<%= book.imageURL %>"
  />
  <input
    type="text"
    name="book[pdfURL]"
    placeholder="Book"
    value="<%= book.pdfURL %>"
  />
  <button type="submit">Update</button>
</form>
