@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-[#F1F1F1];
  }

  .nav-background {
    backdrop-filter: blur(7px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.21);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
  }

  .anim_button {
    @apply rounded-full;
    animation: fadeOut 0.2s ease forwards;
  }

  .anim_button:hover {
    @apply rounded-full;
    animation: fadeIn 0.2s ease forwards;
  }

  @keyframes fadeIn {
    0% {
      @apply rounded-full;
    }
    25% {
      @apply rounded-3xl;
    }
    50% {
      @apply rounded-2xl;
    }
    100% {
      @apply rounded-xl;
    }
  }

  @keyframes fadeOut {
    0% {
      @apply rounded-xl;
    }
    25% {
      @apply rounded-2xl;
    }
    50% {
      @apply rounded-3xl;
    }
    100% {
      @apply rounded-full;
    }
  }

  .text-gradient {
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    text-shadow: 0 4px 0 #141414;
  }

  .card-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .btn {
    position: absolute;
    box-shadow: 0 4px 0 #141414;
    transition: transform 0.2s;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .btn:hover {
    transform: translate(-50%, -52%);
    box-shadow: 0 5px 0 #141414;
  }

  .card {
    box-shadow: -7px 0 0 #141414;
    /* box-shadow: 0 4px 0 #141414;
    transition: transform 0.2s; */
  }

  .form {
    box-shadow: 0 4px 0 #141414;
  }

  .nav-bar .active div {
    @apply font-bold;
  }

  .nav-bar-bottom .active div {
    @apply bg-black text-white;
  }
  .react-pdf__Page__canvas {
    margin: 0 auto;
    width: 80% !important;
    height: 100% !important;
  }
}
