@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-background {
    backdrop-filter: blur(7px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.21);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
  }

  .hero-background {
    backdrop-filter: blur(50px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 12px;
    /* border: 1px solid rgba(209, 213, 219, 0.6); */
  }

  .hero-shape {
    background: linear-gradient(110deg, #fff, #f00, #0f0, #00f, #fff);
  }

  .animate-nav {
    display: none;
    opacity: 0;
    font-size: 1px;
  }

  .group:hover .animate-nav {
    display: inline;
    opacity: 1;
    @apply text-sm;
    transform: translateX(-16%);
    /* position: relative;
    left: -16px; */
    animation: fadeIn 0.1s ease-in forwards;
  }

  .group:hover .animate-border {
    @apply border-black border-[1px] border-l-0 rounded-r-full rounded-t-full rounded-b-full rounded-l-none;
    animation: fadeIn 0.1s ease-in forwards;
  }

  .group:hover,
  .active {
    margin: 0 !important;
  }

  @keyframes fadeIn {
    0% {
      display: none;
      opacity: 0;
      font-size: 1px;
    }
    100% {
      display: inline;
      opacity: 1;
      @apply text-sm;
    }
  }

  .active .animate-border {
    @apply border-black border-[1px] border-l-0 rounded-r-full rounded-t-full rounded-b-full rounded-l-none;
  }

  .active .animate-nav {
    display: inline;
    opacity: 1;
    @apply text-sm;
    transform: translateX(-16%);
    /* position: relative;
    left: -16px; */
  }

  .text-gradient {
    font-size: 72px;
    background: linear-gradient(
      to right,
      #8ab483,
      #4e8361,
      #6e79af,
      #414a76,
      #df629c,
      #df6762
    );
    background-size: 500% auto;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 10s ease-in-out infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  /* .btn-shadow {
    box-shadow: 0px 0px 30px 5px #8ab483;
    border: 2px solid #8ab483;
    animation: shadow 20s ease-in-out infinite;
  }

  .btn-shadow:hover {
    background: linear-gradient(1turn, #8ab483, #4e8361);
    animation: hover-btn 20s ease-in-out infinite;
  }
  @keyframes shadow {
    0% {
      box-shadow: 0px 0px 30px 5px #8ab483;
      border: 2px solid #8ab483;
    }
    50% {
      box-shadow: 0px 0px 30px 5px #6e79af;
      border: 2px solid #6e79af;
    }
    100% {
      box-shadow: 0px 0px 30px 5px #df629c;
      border: 2px solid #df629c;
    }
  }

  @keyframes hover-btn {
    0% {
      background: linear-gradient(1turn, #8ab483, #4e8361);
    }
    50% {
      background: linear-gradient(1turn, #6e79af, #414a76);
    }
    100% {
      background: linear-gradient(1turn, #df629c, #df6762);
    }
  } */
}
